@media screen and (max-width: 950px) {
  .nav {
    justify-content: center;
  }
  .nav-container {
    flex-direction: column;
    justify-content: center;
  }
  .logo-container {
    margin-right: 120px;
    justify-content: center;
  }
  .nav-items-container {
    flex-direction: column;
    justify-content: center;
  }
  .nav-items-container a {
    justify-content: center;
    margin-bottom: 25px;
    margin-right: 100px;
  }
  .btn {
    margin-right: 110px;
  }
}
