@media screen and (max-width: 950px) {
  .nav {
    justify-content: center;
  }
  .nav-container {
    flex-direction: column;
    justify-content: center;
  }
  .logo-container {
    margin-right: 120px;
    justify-content: center;
  }
  .nav-items-container {
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
  }
  .nav-items-container a {
    justify-content: center;
    margin-bottom: 25px;
    margin-right: 100px;
  }
  .btn {
    margin-right: 110px;
  }
  /* nav responsive nds here  */
  .banner-container {
    flex-direction: column;
    margin: 0 auto;
  }
  .banner-text{
    margin: 0 auto;
    justify-content: center;
    width: 100%;
  }
  .banner-img{
    margin: 0 auto;
  }
  .go-rogue{
    /* width: 60%; */
    margin-top: 10px;
    margin-left: 110px;
    /* margin: 10px 100px; */
  }
}
