@media screen and (max-width:950px) {
  .nav{
    justify-content: center;
  }
  .nav-container{
    flex-direction: column;
    justify-content: center;
  }
  .logo-container{
    justify-content: center;
  }
  .nav-items-container{
    flex-direction: column;
    justify-content: center;
  }
  .nav-items-container a{
    justify-content: center;
    margin-bottom: 10px;
  }
}