@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Work Sans", sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}
nav {
  background-color: #fff;
  margin: 0 240px;
  /* border: 1px solid black; */
}
.nav-container {
  /* border: 1px solid red; */
  /* min-height: 50px; */
  display: flex;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
}
.logo-container {
  /* border: 1px solid green; */
  display: flex;
  /* margin-left: 200px; */
  width: 50%;
}
.logo-container img {
  /* border: 1px solid red; */
  margin-top: 47px;
  margin-right: 20px;
  justify-content: center;
  /* margin-left: 200px; */
  /* width: 50px;
  object-fit: cover; */
  width: 66px;
  height: 35px;
  /* flex-shrink: 0; */
}
.logo-container p {
  text-align: center;
  font-family: Work Sans;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  /* border: 1px solid orange; */
}

.highlight {
  color: #ff42a5;
}
.nav-items-container {
  margin-left: 130px;
  align-items: center;
  /* border: 1px solid blue; */
  width: 50%;
  display: flex;
  /* justify-content: space-around; */

  color: #3c354f;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.nav-items-container a {
  padding-right: 32px;
  color: #3c354f;
}
.connect-us button {
  color: #3c354f;
  padding: 10px;
  display: flex;
  border: none;
  text-align: center;
  align-items: center;
  background: rgba(11, 2, 35, 0.1);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 500;
}
.connect-us img {
  width: 33.916px;
  height: 24px;
  flex-shrink: 0;
  padding-left: 5px;
}
/* navbar design ends here  */

.banner-container {
  /* border: 5px solid red; */
  margin: 0 240px;
  max-width: 1400px;
  height: 500px;
  display: flex;

  /* background: url(images/bg-1.png); */
  /* background-repeat: no-repeat; */
}
.banner-text {
  /* border: 5px solid yellow; */
  width: 50%;
  /* background-image: url('images/bg-1.png'), 30%, 20%; */
  /* background: url(images/bg-1.png), 50%; */
}

.banner-img {
  /* border: 5px solid blue; */
  width: 50%;
  /* width: 300px;
  height: 200px; */
  /* width: 100%; */
}
.banner-img img {
  width: 100%;
  height: 100%;
}
.banner-text h1 {
  margin-top: 70px;
  color: #0b0223;
  text-align: center;
  font-family: Work Sans;
  font-size: 38px;
  font-style: normal;
  font-weight: 600;
  /* line-height: normal; */
  text-transform: uppercase;
}
.banner-text .goat h1 {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: auto;
  text-align: center;
  font-family: Work Sans;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
}
.banner-text p {
  margin-left: 130px;
  color: #534c64;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.banner-text .sign-in {
  margin-left: 115px;
  color: #fff;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: inline-flex;
  padding: 18px 34px;
  /* align-items: flex-start; */
  gap: 10px;
  border: 0px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}
.banner-text .go-rogue {
  color: #fff;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: inline-flex;
  padding: 18px 34px;
  /* align-items: flex-start; */
  gap: 10px;
  border: 0px;
  border-radius: 48px;
  background: #4ec5f7;
}
/* banner design ends here  */

.gamer-section {
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );

  /* width: auto; */
  /* min-height: 500px;
  padding: 20px 0; */

  /* margin-top: 100px;
  margin-bottom: 60px;
  height: 500px;
  flex-shrink: 0;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  ); */
}
.gamer-section-container {
  display: flex;

  /* max-width: 1400px; */
  margin: 0 auto;
  /* border: 1px solid yellow; */
  min-height: 200px;
  display: flex;
  align-items: center;
}
.img-container {
  width: 50%;
  /* border: 1px solid red; */
}
.img-container img {
  width: 70%;
  height: 100%;
  display: block;
  margin: 0 auto;
}
.gamer-text {
  width: 50%;
  text-align: right;
  justify-content: center;
}
.gamer-text h1 {
  text-align: center;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.text {
  margin-left: 20px;
  width: 520px;
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.purpose {
  width: 520px;
  color: #534c64;
  text-align: right;
  font-family: Work Sans;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 45px; /* 187.5% */
}
.unleash {
  text-align: center;
  color: #534c64;
  font-family: Work Sans;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
}
.know-more {
  margin-right: 240px;
  color: #fff;
  font-family: Work Sans;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: uppercase;
  display: inline-flex;
  padding: 21px 40px;
  align-items: flex-start;
  gap: 10px;
  border: none;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
}

.online-games {
  justify-content: center;
  /* display: grid; */
  /* border: 1px solid black; */
  /* max-width: 1400px;
  margin: 50px auto 0;
  min-height: 400px; */
}
.games-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 240px;
  /* border: 1px solid red; */
}
.single-game {
  width: 90%;
  gap: 30px;
  /* border: 5px solid green; */
  /* min-height: 200px; */
}
.single-game img {
  width: 100%;
  display: block;
  margin: 0 auto;
}
.online-games-text h1 {
  text-align: right;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.color-text {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Work Sans;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.online-games-text p {
  color: #534c64;
  text-align: center;
  font-family: Work Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
}
.single-game p {
  width: auto;
  color: #534c64;
  font-family: Work Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 150% */
}
.watch{
  visibility: hidden;
}
.single-game :hover{
  background: url(images/icons/youtube-logo.png) no-repeat center;
  display: block;
  opacity: 0.8;
  color: red;
}
